certifi==2019.11.28
chardet==3.0.4
click==7.1.1
Flask==1.1.1
google-images-download==2.8.0
gunicorn==20.0.4
heroku==0.1.4
idna==2.9
infinite-image-downloader==1.0.0
itsdangerous==1.1.0
Jinja2==2.11.1
MarkupSafe==1.1.1
python-dateutil==1.5
requests==2.23.0
selenium==3.141.0
simple-image-download==0.21
urllib3==1.25.8
Werkzeug==1.0.0
