<!DOCTYPE html>
<html lang="en" dir="ltr">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
   <head>
    <title>IMAGES NOW</title>
  </head>
    <body background="/static/bk.jpg" class="mdb-skin">
        <div class="d-flex justify-content-center">
      
    <div class="border border-primary">
    <div class="box">
      <h1 class="text-center"> IMAGES NOW </h1>
     <h1 class="text-center">THANK YOU</h1>
     <form action="{{url_for('index')}}" method="POST" class="inp">
       <button class="btn btn-primary" >HOME</button>
      </form> 
      </div>
      </div>
    </div>
    </body>
</html>